.App {
  text-align: center;
}

.App-header {
  background-color: rgb(14, 41, 60);
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

select {
  width: 110px;
  height: 40px;
  font-size: 17px;
  margin: 15px;
}

.division-selector {
  background-color: rgb(254, 220, 50);
}
